@charset "UTF-8";


  #page2 {
    height: 30px;
    justify-content: center;
    align-items: center;
    color:black;
    width: 100%;
    flex-direction: column;
    position: absolute;
    text-align: center;
    font-size: 50px;
    margin-top: 4rem;
  }
  
 
  
  #page2 {
    background-color: white;
  }
  .slide-in {
    animation: fallAway 2s ease forwards;
  }
  
 @keyframes fallAway {
  0% {
    transform: rotateZ(0deg);
    top: 0;
    opacity: 1;
  }
  25% {
    transform: rotateZ(-15deg);
  }
  100% {
    top: 600px;
    transform: rotateZ(-5deg);
    opacity: 0;
  }
}