@charset "UTF-8";

.text-center {
  text-align: center !important;
}


.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.container-bottom{
	padding-top: 3rem !important;
	  padding-bottom: 3rem !important;
}

.bg-dark {
  bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}	  