@charset "UTF-8";

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#subBtn {
	border: 1px solid #747a86;
        border-radius: 2px;
    
    float: right;
    font-size:16px;
    min-width:83px;
        background-color: #747a86;
        padding: 9px 14px 9px 14px;
        text-align: center;
        color: #fff;
   
}

#subBtn:hover {
  color: #fff;
  background-color: #212529;
  border-color: #ffffff;
  text-decoration-line: none;
}
#subBtn2 {
	border: 1px solid #747a86;
        border-radius: 2px;
    
    font-size:16px;
    min-width:83px;
        background-color: #747a86;
        padding: 9px 14px 9px 14px;
        text-align: center;
        color: #fff;
}

#subBtn2:hover {
  color: #fff;
  background-color: #212529;
  border-color: #ffffff;
  text-decoration-line: none;
}



html {
     font-size: 16px; 
}
#h1{
	font-family: 'GangwonEdu_OTFBoldA';
	width: 100%;
	font-size:26px;
	border-right:0;
    border-left:0;
    border-top: 1px solid #7e7e7e;
    border-bottom:0;
    margin-bottom: -5rem;
}
.hh1 {
	margin-left: 20%;
	margin-bottom: -0.2rem;
	font-family: 'GangwonEdu_OTFBoldA';
	text-align:center;
	width:60%;
    line-height: 1.3;
    min-height: 36px;
    border-top: 1px solid #7e7e7e;
    color: #333;
    font-size: 36px;
    background-color: #f9f9f9;
    word-break: break-all;
    border-right:0;
    border-left:0;
    border-top: 1px solid #e3e3e3;
}
#t4 {
	font-weight: bold;
    width: 100%;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #7e7e7e;
    border-bottom:0;
    border-right:0; 
    border-left:0;
    font-size: 24px;
}
#t3 {
  border-bottom:1px solid #7e7e7e;
  background-color: white;
}

#t3-div {
	margin-bottom:30px;
}
#title2{
	margin-top: 1rem;
	margin-bottom :-1rem;
	text-align: center;
}
#z1{
	background-color: white;
}